$mainFont: 'Arial';

//  display sizes
$lgBreak: 1200px;
$mdBreak: 992px;
$smBreak: 768px;
$xsBreak: 576px;

//  wrapper gaps
$exLgGaps: 30px;
$lgGaps: 16px;
$mdGaps: 24px;
$smGaps: 18px;
$xsGaps: 10px;

//  wrapper width;
$exLgWidth: 1140px;
$lgWidth: 960px;
$mdWidth: 720px;
$smWidth: 540px;
$xsWidth: 100%;

// colors

$mainColor: rgba(174, 181, 185, 0.5);
$secondColor: #ffffff;
$thirdColor: #555C66;
$fourthColor: rgba(76, 82, 85, 0.4);

$activeMicrophoneColor: red;
